



.icontainer {
    
    padding: 20px 30px 20px 30px;

    text-shadow: 1px 1px 1px #FFF;


    width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
  margin-bottom: -30px ;
  background-color:azure;
}


