﻿ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;

}
.rName {font-family: sansation; text-align: center;}

.hr {
    border-top: solid 2px #E6E6E6;
}

.footer {
    font-size: 12px;
    margin-top: 30px;
    border-top: solid 1px #D1CCC0;
    width: 100%;
    margin: 30px auto 0;
    text-align: center;
    padding: 20px 0px;
    clear: left;
}
a:visited{color:red;}
a:hover{font-weight:bold;}
a.active{background-color:rgb(238, 238, 238);}

table {
width: 180px;
margin: 0 auto;
    
}