﻿.cform {
    margin:0 auto;
    padding: 20px 30px 20px 30px;
    font-size: 12px;
    color: #777;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #DDD; 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.cform h1 {
    font-size: 25px ;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #DADADA;
    margin: -10px -30px 30px -30px;
    color: #777;
}
.cform label {
    display: block;
    margin: 0px 0px 5px;
}
.cform label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #333;
    font-weight: bold;
}
.cform input[type="text"], .cform input[type="email"],  .cform textarea, .cform select{
    border: 1px solid #CCC;
    color: #777;
    height: 20px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 20%;
    border-radius: 4px;

}
.cform textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 20%;
}

.cform input[type="radio"] {
    padding: 5px 0px 5px 5px;
margin-bottom: 16px;
    margin-top: 8px;
}

.cform input[type="checkbox"]{
padding: 5px 0px 5px 5px;
margin-bottom: 16px;
    margin-top: 2px;
}

.cform select{
    height: 30px;
    padding: 5px 0px 0px 5px;
    margin-right: 6px;
    width: 20%;
}

