

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;

}
.cform {
    
    padding: 20px 30px 20px 30px;

    color: #777;
    text-shadow: 1px 1px 1px #FFF;
    width: 960px;

    margin: 0 auto;
}
.cform h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #DADADA;
    margin: -10px -30px 30px -30px;
    color: #777;
}
.cform label {
    display: block;
    margin: 0px 0px 5px;
}
.hr {
    border-top: solid 2px #E6E6E6;
}
.cform label > span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #333;
    font-weight: bold;
}
.cform input[type="text"], .cform input[type="email"], .cform textarea, .cform select {
    border: 1px solid #CCC;
    color: #777;
    height: 20px;
    line-height: 15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 300px;
    border-radius: 4px;
}
.cform textarea {
    height: 100px;
    padding: 5px 0px 0px 5px;
    width: 300px;
}
.cform input[type="radio"] {
    padding: 5px 0px 5px 5px;
    margin-bottom: 16px;
    margin-top: 8px;

}



#days label{
float:left;
padding: 5px 0px 5px 5px;
    margin-bottom: 16px;
    margin-top: 8px

}
.dayM {

    margin-right: 66px;

}
.cform select {
    height: 30px;
    padding: 5px 0px 0px 5px;
    margin-right: 6px;
    width: 305px;
}
.cform .button {
    background: #FFF;
    border: 1px solid #CCC;
    padding: 10px 25px 10px 25px;
    color: #333;
    border-radius: 4px;

}
.footer {
    font-size: 12px;
    margin-top: 30px;
    border-top: solid 1px #D1CCC0;
    width: 100%;
    margin: 30px auto 0;
    text-align: center;
    padding: 20px 0px;
}
