

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;

}
.icontainer img p{ height:150px; width: 400px;
}


.icontainer {
    
    padding: 20px 30px 20px 30px;

    text-shadow: 1px 1px 1px #FFF;


    width: 400px ;
  margin-left: auto ;
  margin-right: auto ;
}

.hr {
    border-top: solid 2px #E6E6E6;
}

.footer {
    font-size: 12px;
    margin-top: 30px;
    border-top: solid 1px #D1CCC0;
    width: 100%;
    margin: 30px auto 0;
    text-align: center;
    padding: 20px 0px;
}
