

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;

}


.hr {
    border-top: solid 2px #E6E6E6;
}

#pagewrap {
	padding: 5px;
	width: 960px;
	margin: 20px auto;
}

#content {
	width: 290px;
	float: left;
	padding: 5px 15px;
}

#middle {
	width: 294px; /* Account for margins + border values */
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}

#sidebar {
	width: 270px;
	padding: 5px 15px;
	float: left;
}


    .footer {
  height: 50px;
  margin-top: 450px;
  font-size: 12px;
}

.hr2 {
    border-top: solid 1px #D1CCC0;

}