﻿        .container {
            width: 80%;
            margin-right: auto;
            margin-left: auto
        }
        .bmembers {
            font-family: sansation;
            font-style: italic;
            margin-left: 2%;
        }
        .hr {
            border-top: solid 2px #e6e6e6;
        }
        #albumDiv {
            margin-right: auto;
            margin-left: auto;
            width: 300px;
            height: 300px;
            background-repeat: no-repeat;
            background-position: top;
        }
        a {
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
            background-color: green;
        }
        td {
            font-style: italic;
        }
        .img-circle {
            border-radius: 50%;
        }