﻿        .container {width: 80%;   margin-right: auto; margin-left: auto }
        .bmembers { margin-left:2%;}
        .hr {border-top: solid 2px #e6e6e6; }    
        #albumDiv { margin-right: auto; margin-left: auto; width: 300px; }
        